{% sw_extends '@Storefront/storefront/page/product-detail/cross-selling/tabs.html.twig' %}

{% block page_product_detail_cross_selling_tabs_inner %}
{% if crossSellings|filter(item => item.total > 0 and item.crossSelling.active == true) %}
    <div class="custom-cross-selling">
        <h2>{{ "detail.customCrossSellingHeadline"|trans|sw_sanitize }}</h2>
        {% for item in crossSellings|filter(item => item.total > 0 and item.crossSelling.active == true)  %}

        {% set id = item.crossSelling.id %}
            <h3>{{ item.crossSelling.translated.name }}</h3>

            {% set config = {
                'border': {
                    'value': false
                },
                'rotate': {
                    'value': true
                },
                'products': {
                    'value': item.getProducts()
                },
                'boxLayout': {
                    'value': 'standard'
                },
                'elMinWidth': {
                    'value': '300px'
                },
                'navigation': {
                    'value': true
                },
                'displayMode': {
                    'value': 'minimal'
                },
                'verticalAlign': {
                    'value': 'top'
                },
            } %}

            {% sw_include "@Storefront/storefront/element/cms-element-product-slider.html.twig" with {
                sliderConfig: config,
                    element: {
                    'data': {
                        'products': {
                            elements: item.getProducts()
                        }
                    },
                    type: 'product-slider'
                    }
            } %}

        {% endfor %}
    </div>
{% endif %}
{% endblock %}